@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;

  &.dark {
    .banner {
      background-image: url("../images/static/banner-bg-dark.jpg");
    }

    .google-map {
      filter: invert(93%);
    }

    .lower-nav {
      &.fixed-header {
        box-shadow: rgba(98, 89, 89, 0.3) 0px 0px 6px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .w-110 {
    width: 110%;
  }
}


.checkbox {
  opacity: 0;
  position: absolute;

  &:checked+.checkbox-label {
    background-color: rgba(128, 128, 128, 0.6);

    .ball {
      transform: translateX(24px);
    }
  }

}

.checkbox-label {
  background-color: #4d4747;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
}

.lower-nav {
  &.fixed-header {
    background-color: white;
    z-index: 10;
    position: fixed;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;
  }

  .right-box {
    a {
      position: relative;
      font-size: 1.1em;

      .box {
        position: absolute;
        height: fit-content;
        top: -10px;
        right: -15px;
        scale: 0.5;
      }
    }
  }
}

.mobile-side-bar {
  transition: transform 0.5s ease;
  transform: translateX(0);

  &.collapsed {
    transform: translateX(-100%);
  }
}





.searched-box {
  transition: transform 0.5s ease;

  &.collapsed {
    transform: translateY(-100%);
  }
}

input {
  background: transparent;
}

input:-webkit-autofill {
  background-color: transparent !important;
}

input:-webkit-autofill:hover {
  background-color: transparent !important;
}

.banner {
  background-image: url('../images/static/banner-bg.jpg');

  // height: 285px;
  @apply h-52 sm:h-72;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-attachment: fixed;

  h1 {
    font-size: 2.5em;
    font-weight: 700;
  }
}


.slickSlider {
  .slick-slide {
    opacity: 0.3;
    filter: grayscale(1);

    &.slick-center {
      opacity: 1;
      filter: grayscale(0);
    }
  }
}

.workers {
  .image-box {
    &:hover {

      .image,
      .text-box {
        opacity: 20%;
      }

      .socials {
        display: block;
      }
    }
  }
}

.livechat {
  transition: transform 0.5s;

  &.closed {
    transform: translateY(400px);
  }

  .body {
    .chat-body {
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.cartTable {
  tr {
    @apply border-b border-gray-200 dark:border-gray-700;
  }

  thead {
    tr {
      th {
        font-size: 1.5em;
        padding: 30px 0;
        font-weight: 500;
      }
    }
  }

  tbody {
    tr {
      td {
        font-size: 1.1em;
        padding: 20px 0;
      }
    }
  }
}

.cartTable-mobile {
  .product {
    .data {
      h1 {
        @apply uppercase font-semibold
      }

    }
  }
}

.fa-xmark {
  @apply text-gray-500 dark:text-gray-200;
}


#first_product::-webkit-outer-spin-button,
#first_product::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.shop-bar {
  a {
    overflow: hidden;

    &:hover {
      img {
        scale: 1.1;
      }
    }

    img {
      transition: all 0.3s ease;
    }
  }
}

.product-item {
  .view-button,
  .cart-button {
    transition: all 0.5s;
  }

  &:hover {

    .view-button,
    .cart-button {
      transition: all 0.5s;
      transform: translateX(0px);
      opacity: 1;
      visibility: visible;
    }
  }
}

.quickview {
  background-color: rgba(0, 0, 0, 0.5);

}


.categories {
  li {
    position: relative;
    transition: all 0.5s ease;
    &::after {
      transition: all 0.5s ease;
      position: absolute;
      content: '';
      bottom: -2px;
      left: 0;
      right: 100%;
      height: 1px;
      @apply bg-red-400;
    }
    &:hover{
      @apply text-red-400;
      &::after{
        right: 0;
      }
    }
    &.active {
      &::after {
        position: absolute;
        content: '';
        bottom: -2px;
        left: 0;
        right: 0;
        height: 1px;
        @apply bg-red-400;
      }
      @apply text-red-400;
    }
  }

}

.productSlick{
  .slick-prev{
    left: 10px;
    z-index: 1;
    &::before{
      content: '\f053';
      font-family: 'Font Awesome 6 Free';
      font-weight: 900;
    }
  }
  .slick-next{
    right: 26px;
    &::before{
      content: '\f054';
    }
  }
  .slick-next,.slick-prev{
    &::before{
      opacity: 1;
      font-family: 'Font Awesome 6 Free';
      font-weight: 900;
      @apply dark:bg-gray-900 bg-white text-gray-500 py-2 px-3;
    }
    &.slick-disabled{
      &::before{
        opacity: 0.5 !important;
      }
    }
  }
  .slick-slide > div {
    margin: 0 10px;
  }
  .slick-list {
    margin: 0 -10px;
  }
}

.offer-banner{
  background: url('../images/home/black-friday-banner.png');
  background-attachment: fixed;
  .textbox{
    animation: pulse 1s ease infinite;
  }
}

@keyframes pulse {
  0%{
    transform: scale(1.1);
  }
  50%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.1);
  }
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-arrows {
  /* Optional styles for a clean, non-styled appearance */
  appearance: textfield;
  -moz-appearance: textfield;
}

.ring-shake {
  color: #121212 !important;
  padding: 1px 5px;
  transition: transform 0.8s ease;
  animation: shake 1.2s infinite;
}

@keyframes shake {
  0% { transform: rotate(0); }
  10% { transform: rotate(-10deg); }
  20% { transform: rotate(10deg); }
  30% { transform: rotate(-3deg); }
  40% { transform: rotate(3deg); }
  50% { transform: rotate(0); }
  100% { transform: rotate(0); }
}

.Toastify__progress-bar--success {
  background: rgb(248, 113, 113) !important;
}

.Toastify__toast-body > div:last-child {
  padding-left: 10px;
}

.cart-button{
  top: 360px;
}